/*---------------------------------------------------------------------------//

  Partial: Figures

  Images, captions, media, you know the drill.

//---------------------------------------------------------------------------*/

figure {
  $border-style: 1px solid $lighter-gray;
  border-top: $border-style;
  border-bottom: $border-style;
  margin-top: $baseline;
  margin-bottom: $baseline;

  $caption-baseline: 12px * 0.5;
  padding-top: $caption-baseline;
  padding-bottom: $caption-baseline;
}

figcaption {
  font-size: 12px;
  font-family: $font-sans;
  color: $light-gray;
  text-align: right;
  line-height: 1.3;

  @media (max-width: $breakpoint-small) {
    font-size: 10px;
  }
}
