---
layout: none
title: Letters from Jonathan
category: personal
---

<!DOCTYPE html>
<head>
  <title>{{ page.title }} | {{ site.name }}</title>
  {% include metatags.html %}
  {% include twitter_card.html %}
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7354672/629424/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/personal.css">
  {% include tracking.html %}
</head>
<body>
  <header class="page-header">
  <h1><a href="/{{ page.category }}/"><span class="swa">L</span>etters from Jonathan</a></h1>
  <p class="page-desc">A monthy personal newsletter for friends and delightful people.</p>
  </header>
  <main class="letter">
    <section class="letter-intro">
      <header class="letter-header">
        <div class="letter-fleuron">s</div>
        <div class="letter-date">2nd April 2014</div>
        <div class="letter-title">An Introduction</div>
      </header>
      <div class="wrap">
        <p><span class="dc">T</span>here are few things in life more precious to me than the company I’ve chosen to keep, but I’ve never done a great job of showing it. Relationships that once shaped my life in some meaningful way have fallen by the wayside, and friendships that spanned years and defining moments have faded into the nostalgic corners of yesteryear. This is my humble attempt to rectify that.
        </p>
        <h2>What This Is</h2>
        <p>You’re here because life has connected us in some way. This is a promise to pen a personal and thoughtful letter every month, delivered to your email inbox, for those who are dear to me and also for anyone interested in getting to know me better as a person and friend. Every letter is an open invitation to start a conversation, to catch up as friends old <span class="amp">&amp;</span> new, and to learn more about each other beyond the superficial.</p>
        <h2>Why This Way</h2>
        <p>I chose email as the medium because it’s a great compromise. Mailing physical letters every month, though endearingly personal, isn’t a scalable endeavor; at the other end of the spectrum, using Facebook for convenience would require working within its container, which is just the worst. Email allows me to paint on my own canvas, to cut through the noise far away from the prying agenda of gatekeepers. Plus, everyone has an email address.</p>
        <p>Letters are scheduled monthly because it feels just right. Too frequently, and I risk tipping familiarity into annoyance. Too seldom, and I lose the goodwill that comes with consistency. I also believe that our days are best lived without the minutiae that plague social platforms on the web. A monthly update should suffice.</p>
        <div class="break-fleuron"></div>
        <p>I won’t deny that this is a selfish project, because it is. It’s my selfish way of ensuring that no person who has touched my life leaves it without an opportunity to get to know me a little better. It’s a selfish token of gratitude for everyone who has made life a little more colorful and a whole lot worth living. That said, I hope I’m being selfish for the right reasons.</p>
        <p>With all my heart,</p>
        <p><em>Jonathan</em></p>
      </div>
    </section>
    <section id="subscribe" class="letter-response">
      <div class="wrap">
        <p>Hi Jonathan,</p>
        <p>I would like to subscribe to <em>Letters from Jonathan</em>. If I’m no longer interested in receiving them, I understand that I’m free to unsubscribe at any time using the link provided at the bottom of every letter, and that I should <strong>not</strong> mark them as spam and ruin their delivery for everyone else.</p>
        <p class="aside">(That would be like being the Death Eater responsible for killing Hedwig. Don’t be that guy. Or Dobby, you know, because he hijacked Harry’s letters. We miss you, Dobby.)</p>
        <form class="subscribe-form">
          <span class="fl">&gt;</span> <a class="subs-link" href="http://eepurl.com/ROm7X">Take me <del class="cramped">on a magic carpet ride</del> to the subscription page</a>
        </form>
      </wrap>
    </section>
  </main>
</body>
</html>
