<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  {% include twitter_card.html %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <!-- CSS -->
  {{ 'blog' | stylesheet }}
  <!-- Typekit -->
  {% include typekit.html %}
  <!-- Google Analytics -->
  {% include tracking.html %}
</head>
