
$base-size: 1.125rem;

$text-color: #757575;
$golden-gate-orange: #c0362c;
$golden-gate-blue: #32a3da;

#home-page {
  margin-top: 5em;
  margin-bottom: 2em;

  font-family: $serif;
  font-size: $base-size;
  color: $text-color;
  line-height: 1.5em;

  .container {
    max-width: 630px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 1em;
  }

  p.intro {
    em {
      color: #555;
    }
  }

  p.signoff {
    margin-top: 2em;
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px dotted;
    line-height: $base-size * 1.125;
    text-decoration: none;

    color: #555;
  }

  a.highlight:hover {
    border-color: $golden-gate-blue;

    &:hover {
      color: $golden-gate-blue;
    }
  }

  a.writing {
    border-color: $golden-gate-orange;
    &:hover {
      color: $golden-gate-orange;
    }
  }

  a.capturing {
    border-color: #D70068;
    &:hover {
      color: #D70068;
    }
  }

  a.reading:hover {
    border-color: $golden-gate-blue;

    &:hover {
      color: $golden-gate-blue;
    }
  }

  ul.actions {
    list-style: circle;

    li {
      margin-bottom: 0.3em;
    }
  }

  ul.links {
    margin-top: 2em;
    display: block;

    li {
      display: inline-block;
      margin-right: 0.5em;

      a {
        font-size: 1rem;
        font-family: $sans-serif;
        border-bottom: 2px solid;
        text-decoration: none;
        color: #555;
        opacity: 0.6;
      }

      a.twitter {
        border-color: #4099ff;
        &:hover {
          color: #4099ff;
        }
      }

      a.github {
        border-color: #222;
        &:hover {
          color: #222;
        }
      }

      a.dribbble {
        border-color: #ea4c89;
        &:hover {
          color: #ea4c89;
        }
      }

      a.facebook {
        border-color: #3b5999;
        &:hover {
          color: #3b5999;
        }
      }
      // a
    } // li
  } //ul
}
