@import "vendor/reset";
@import "foundation";

$body-size: 18px;

/*---------------------------------------------------------------------------//
//  $LAYOUT                                                                  //
//---------------------------------------------------------------------------*/

html {
  font-size: $body-size;
}

body {
  color: $text-color;
  font-size: 1rem;
  font-family: $serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.post-body {
  width: 100%;
  margin: 0 auto;
}

/*---------------------------------------------------------------------------//
//  $TYPOGRAPHY                                                              //
//---------------------------------------------------------------------------*/

h1 {
  font-family: $sans-serif;
  font-size: 2.5rem;
  color: $text-color;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  font-family: $sans-serif;
  font-weight: 600;
  color: $text-color;
}

h1, h2, h3, p, blockquote, ol, ul, pre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

p {
  font-family: $serif;
  font-size: $body-size;
  font-weight: normal;
  color: $text-color;
  line-height: round(1.6 * $body-size);
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $golden-gate-orange;
  text-decoration: none;
  &:hover {
    color: $golden-gate-orange;
  }
}

em {
  font-style: italic;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 2px solid $blockquote-color;
  padding-left: 1em;
  p {
    color: #898989;
  }
  a {
    color: #898989;
    text-decoration: underline;
  }
}

ul {
  list-style-type: disc;
  margin-bottom: 1em;

  li {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

ol {
  counter-reset: li;
  font-family: $sans-serif;

  li {
    position: relative;

    p:first-child {
      font-family: $sans-serif;
      font-weight: 600;
      font-size: 1.1em;
    }

    &:before {
      content: counter(li, decimal-leading-zero);
      counter-increment: li;
      font-weight: 500;
      font-size: 1.2em;
      color: $text-color;
      position: absolute;
      left: -1.7em;
      top: -3px;

    }
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 20%;
  border-style: none;
  margin: 2em auto 2em;
}

pre, code {
  font-family: Monaco, Courier, Verdana, monospace;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8;
}

code {
  font-size: 0.7rem;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  line-height: 1.5;
  padding: 0 2px;
  overflow: auto;
}

pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: .3em .6em;
  overflow-y: hidden;
  overflow-x: auto;

  code {
    padding: 0;
    border: none;
  }
}






/*---------------------------------------------------------------------------//
//  $CONTENT                                                                 //
//---------------------------------------------------------------------------*/

.post-header {
  margin: 0 auto;
  max-width: 630px;
  margin-top: 2em;
  margin-bottom: 2em;

  .post-title {
    margin: 0 auto;
    color: $text-color;
    line-height: 1.2em;
  }

  .post-subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-family: $sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2em;
    color: $text-color;
    text-transform: uppercase;
    font-variant: small-caps;
  }
}

.block {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
}

// footnotes
.footnotes {
  border-top: 1px dotted #ccc;
  font-size: 0.9em;
  color: $footnotes-color;

  ol {
    list-style: decimal;

    li {
      margin-left: 20px;

      &:before {
        content: none;
      }

      p {
        color: $footnotes-color;
        font-family: $serif;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.4em;
      }
    }
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 5em;
  border-style: none;
  margin: 2em auto 2em;
}

.footnote {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: super;
  background-color: #eee;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

// footnote return link
.reversefootnote {
  position: relative;
  top: -0.2em;
  background-color: #eee;
  border-radius: 5px;
  font-size: 0.7em;
  border-radius: 0.4em;
  padding: 0.2em;
  padding-bottom: 0;
  margin-left: 0.4em;
  line-height: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.button {
  color: $text-color;
  font-size: 1.2em;
  width: 10em;
  border: 2px solid $text-color;
  font-family: $sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0.5em;

  &:hover {
    color: white;
    background-color: $text-color;
  }
}

.buy { margin-top: 2em; }

footer {
  margin: 5em auto;
}

/*---------------------------------------------------------------------------//
//  $IMAGES                                                                  //
//---------------------------------------------------------------------------*/
.breakout {
  max-width: 960px;
}

.image-inline-block {
  float: left;
  display: block;
  margin-left: 10em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 300px;
}

/*---------------------------------------------------------------------------//
//  $INDEX                                                                   //
//---------------------------------------------------------------------------*/

#home {
  margin-top: 5em;

  .container { max-width: 600px; }

  ul.posts {
    list-style-type: none;
    display: block;
    margin: 0 auto;

    li {
      margin: 2em 0;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .date {
      font-family: $sans-serif;
      color: #777;
      text-transform: uppercase;
      font-variant: small-caps;
      font-size: 0.8em;
    }

    .title {
      display: block;
      line-height: 1.2em;
      font-family: $sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color;
      &:hover { color: $golden-gate-orange; }
    }

    .subtitle {
      margin: 0;
      color: #999;
      font-style: italic;
    }
  }

  ul.links {
    margin-top: 2em;
    display: block;

    li {
      display: inline-block;
      margin-right: 0.5em;
      margin-left: 0;

      a {
        font-size: 0.9rem;
        font-family: $sans-serif;
        border-bottom: 2px solid;
        text-decoration: none;
        color: #555;
        opacity: 0.6;
      }

      a.twitter {
        border-color: #4099ff;
        &:hover { color: #4099ff; }
      }

      a.github {
        border-color: #222;
        &:hover { color: #222; }
      }

      a.dribbble {
        border-color: #ea4c89;
        &:hover { color: #ea4c89; }
      }

      a.facebook {
        border-color: #3b5999;
        &:hover { color: #3b5999; }
      } // a
    } // li
  } //ul
}

/* COMMENTS */

.comments-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  max-width: 630px;
}

button.comments {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #d1d1d1;
  outline: none;
  color: white;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  font-family: $sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0.6em;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: #cecece;
  }
}

/*---------------------------------------------------------------------------//
//  $STYLE CHANGE                                                            //
//---------------------------------------------------------------------------*/
.technical {
  p, blockquote, li {
    font-family: $sans-serif;
    //font-weight: 500;
  }

  .note {
    background-color: #FFF4AB;
  }
}


/*---------------------------------------------------------------------------//
//  $MEDIA QUERIES                                                           //
//---------------------------------------------------------------------------*/

/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container {
    width: 90%;
    max-width: 520px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .post-header {
    .post-subtitle {
      font-size: 0.9rem;
    }
  }

  p, li {
    font-size: 0.9rem;
    line-height: 1.4em;
  }

  pre, code {
    font-size: 0.6rem;
    line-height: 1.4em;
  }

  ol {
    li {
      &:before { left: 0; }
      p {
        margin-left: 2em;
        &:first-child { font-size: 1em; }
      }
    }
  } //ol

  .image-inline-block {
    width: 30%;
    margin-left: 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {



}
