@import "vendor/reset";
@import "foundation";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/*---------------------------------------------------------------------------//
//  $LAYOUT                                                                  //
//---------------------------------------------------------------------------*/

.container {
  @include outer-container;
}

.post-body {
  //@include span-columns(6);
  //@include shift(3);

  max-width: 630px;
  margin: 0 auto;
}

/*---------------------------------------------------------------------------//
//  $TYPOGRAPHY                                                              //
//---------------------------------------------------------------------------*/

h1 {
  font-family: $serif;
  font-weight: 600;
  font-size: golden-ratio($body-size, 2);
  //font-size: 2.2em;
  color: $text-color;
}

h2 {
  font-size: golden-ratio($body-size, 1);
  margin-bottom: 0.3em;
  font-family: $sans-serif;
  font-weight: 500;
  color: $text-color;
}

p {
  font-family: $serif;
  font-size: golden-ratio($body-size, 0);
  color: $text-color;
  line-height: round(1.5 * $body-size);
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $golden-gate-orange;
  text-decoration: none;
  &:hover {
    color: $golden-gate-orange;
  }
}

em {
  font-style: italic;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 5px solid $blockquote-color;
  padding-left: 1em;
  p {
    color: #898989;
  }
  a {
    color: #898989;
    text-decoration: underline;
  }
}

ul {
  list-style-type: disc;
  margin-bottom: 1em;

  li {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

ol {
  counter-reset: li;
  font-family: $sans-serif;

  li {
    position: relative;

    p:first-child {
      font-family: $sans-serif;
      font-weight: 600;
      font-size: 1.1em;
    }

    &:before {
      content: counter(li, decimal-leading-zero);
      counter-increment: li;
      font-weight: 500;
      font-size: 1.2em;
      color: $text-color;
      position: absolute;
      left: -1.7em;
      top: -3px;

    }
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 20%;
  border-style: none;
  margin: 2em auto 2em;
}

/*---------------------------------------------------------------------------//
//  $CONTENT                                                                 //
//---------------------------------------------------------------------------*/

.post-header {
  margin: 0 auto;
  //@include span-columns(6);
  //@include shift(3);
  max-width: 630px;
  margin-top: 3em;
  margin-bottom: 1em;

  .post-title {
    margin: 0 auto;
    color: $text-color;
    line-height: 1.2em;
  }

  .post-subtitle {
    font-family: $sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: $text-color;
    text-transform: uppercase;
    font-variant: small-caps;
  }
}

.block {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
}

// footnotes
.footnotes {
  border-top: 1px dotted #ccc;
  font-size: 0.9em;
  color: $footnotes-color;

  ol {
    list-style: decimal;

    li {
      margin-left: 20px;

      &:before {
        content: none;
      }

      p {
        color: $footnotes-color;
        font-family: $serif;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.4em;
      }
    }
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 5em;
  border-style: none;
  margin: 2em auto 2em;
}

.footnote {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: super;
  background-color: #eee;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

// footnote return link
.reversefootnote {
  position: relative;
  top: -0.2em;
  background-color: #eee;
  border-radius: 5px;
  font-size: 0.7em;
  border-radius: 0.4em;
  padding: 0.2em;
  padding-bottom: 0;
  margin-left: 0.4em;
  line-height: 0;
}

/*---------------------------------------------------------------------------//
//  $INDEX                                                                   //
//---------------------------------------------------------------------------*/

.posts {
  list-style-type: none;

  li {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .date {
    font-family: $sans-serif;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 0.8em;
  }
  .title {
    display: block;
    line-height: 1.2em;
    font-family: $serif;
    font-weight: 600;
    font-size: 1.2em;
    color: $text-color;

    &:hover {
      color: $golden-gate-orange;
    }

  }
}

/*---------------------------------------------------------------------------//
//  $MEDIA QUERIES                                                           //
//---------------------------------------------------------------------------*/

/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  p, li {
    font-size: 16px;
    line-height: 1.4em;
  }


  ol {

    li {
      p {
        margin-left: 2em;

        &:first-child {
          font-size: 1em;
        }
      }
      &:before {
        left: 0;
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

}
