@import "vendor/reset";
@import "foundation";

$body-size: 18px;

$golden-gate-orange: #c0362c;
$saffron: #6f1402;
$text-color: #424242;
$header-color: #242424;
$blockquote-color: #c3c3c3;
$footnotes-color: #777;

/*
   $LAYOUT --------------------------------------------------------------------
*/

.container {
  max-width: 1088px;
  margin: 0 auto;;
}

.post-body {
  max-width: 630px;
  margin: 0 auto;
}


/*
   $TYPOGRAPHY ----------------------------------------------------------------
*/

html {
  font-size: 112.5%; // 18x
}

body {
  color: $text-color;
  font-size: 1rem;
  font-family: $sans-serif;
}

h1, h2 {
  color: $header-color;
}

h1 {
  font-family: $serif;
  font-weight: 600;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.byline {
  font-family: $serif;
  font-size: 1rem;
  line-height: 2rem;
}

.post-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5em;
  color: #777;
}

p {
  font-size: $body-size;
  color: $text-color;
  line-height: 1.5em;
  margin-bottom: 1em;
}

a {
  color: $golden-gate-orange;
  text-decoration: none;
  &:hover {
    color: $saffron;
  }
}

em {
  font-style: italic;
}

blockquote {
  font-family: $serif;
  border-left: 5px solid $blockquote-color;
  padding-left: 1em;
  margin-bottom: 2em;
  p {
    font-size: 16px;
    color: #898989;
  }
}

ul {
  list-style-type: disc;
  margin-bottom: 1em;

  li {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 20%;
  border-style: none;
  margin: 2em auto 2em;
}

img {
  max-width: 100%;
}

/*
   $CONTENT -------------------------------------------------------------------
*/

.post-header {
  margin: 0 auto;
  margin-bottom: 2em;
  //@include span-columns(6);
  //@include shift(3);
  max-width: 630px;

  .book-cover {
    margin-bottom: 2em;

    img {
      border-left: 1px solid #c5c5c5;
      border-right: 1px solid #c5c5c5;
      border-bottom: 1px solid #c5c5c5;
      width: 50%;
    }
  }

  .post-title {
    margin: 0 auto;
    color: $header-color;
    line-height: 1.2em;
  }

}

// footnotes

.footnotes {
  padding-top: 1em;
  border-top: 1px dotted #ccc;
  font-size: 0.9em;
  color: $footnotes-color;

  ol {
    list-style: decimal;

    li {
      margin-left: 20px;

      p {
        color: $footnotes-color;
        font-size: 1em;
        line-height: 1.4em;
      }
    }
  }
}

hr {
  color: #ddd;
  background-color: #eee;
  height: 3px;
  width: 5em;
  border-style: none;
  margin: 2em auto 2em;
}

.footnote {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: super;
  background-color: #eee;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

// footnote return link
.reversefootnote {
  position: relative;
  top: -0.2em;
  background-color: #eee;
  border-radius: 5px;
  font-size: 0.7em;
  border-radius: 0.4em;
  padding: 0.2em;
  padding-bottom: 0;
  margin-left: 0.4em;
  line-height: 0;
}

footer {
  height: 2em;
}


.button {
  color: $header-color;
  font-size: 1.2em;
  width: 10em;
  border: 2px solid $header-color;
  font-family: $sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0.5em;

  &:hover {
    color: white;
    background-color: $header-color;
  }
}

.buy {
  margin-top: 2em;
}

#comments {
  margin-top: 3em;
}

/*
   $INDEX ----------------------------------------------------------------
*/
.books {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 3em;

  .book-container {
    display: block;
    margin: 0 auto;
    height: 210px;
  }

  .book-cover {
    display: inline-block;

    img {
      max-width: 120px;
      border: 1px solid #c5c5c5;
    }
}

.book-metadata {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  font-family: jaf-facitweb;

  a {
    color: $header-color;
    &:hover {
      color: $golden-gate-orange;
    }
  }

  p {
    font-size: 0.8em;
    color: #898989;
  }
}
}

/*
   $RESPONSIVE ----------------------------------------------------------------
*/

/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  p, li {
    font-size: 16px;
    line-height: 1.4em;
  }
}
