@import "vendor/reset";
@import "foundation";


/* reading index - books */
#reading {




}


#writing {
  .posts {
    list-style-type: none;

    li {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .date {
      font-family: $sans-serif;
      font-weight: 600;
      color: #777;
      text-transform: uppercase;
      font-variant: small-caps;
      font-size: 0.8em;
    }
    .title {
      display: block;
      line-height: 1.2em;
      font-family: $serif;
      font-weight: 600;
      font-size: 1.2em;
      color: $text-color;

      &:hover {
        color: $golden-gate-orange;
      }

    }
  }
}
