@import "vendor/normalize";
//@import "foundation";
//@import "vendor/bourbon/bourbon";
//@import "vendor/neat/neat";

$ff-tisa-web-pro: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
$effra: "effra", Helvetica, Arial, sans-serif;


// box-sizing: border-box for all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// clearfix
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;
}

.photo-block {
  margin: 0 auto;
  width: 98%;
}

.column {
  padding-top: 0.4
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .column.stretch {
    padding-left: 0;
    padding-right: 0;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }

  .photo-block {
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {

  }
}






/* IMAGE POSTS */


/* TYPOGRAPHY */
h1 {
  font-family: $effra;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

p {
  font-family: $ff-tisa-web-pro;
  line-height: 1.5em;
  font-size: 18px;
  color: #444;
}

p.intro {
  max-width: 660px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  width: 100%;
  margin: 0;
  line-height: 0;
}

/* SECTIONS */
.metadata {
  margin: 0.5em;
  text-align: center;
  color: #999;
  font-size: 1em;
}

.post-title {
  margin-bottom: 1rem;
}
