@import "vendor/reset";
@import "vendor/bootstrap";
@import "foundation";

/* story specific css */

$lighter-brown: #ebe5df;
$light-brown: #d8cbbf;
$background-color: #ded4c9;
$text-color: #333333;
$dark-brown: #1f1913;

$museo-sans-rounded: 'Museo Sans Rounded', sans-serif; // 100, 700, 900
$minion-pro: "minion-pro", serif; // 400i

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.post-header {
  background: url(http://wikichen-cloud.s3.amazonaws.com/serving/stories/cheese-board-pizza/cheeseboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  max-height: 575px;
}

.post-header-text {
  padding-top: 115px;
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  height: 575px;
}

.post-title {
  display: block;
  font-size: 54px;
  font-family: $museo-sans-rounded;
  line-height: 58px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(235, 229, 223, 0.431373);
  font-weight: 900;
  color: $lighter-brown;
  margin: 15px 0;
}

.post-metadata {
  color: $light-brown;
  font-size: 16px;
  font-family: $museo-sans-rounded;
  font-weight: 100;
}

.post-date {
  display: block;
  text-transform: uppercase;
}

.byline-prefix {
  font-family: $serif, serif;
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
}

.byline-name {
  text-transform: uppercase;
}

.byline-twitter {

}

.post-content {
  background-color: $lighter-brown;
  z-index: 1;
  margin-top: -70px;
}

.post-intro {
  font-size: 24px;
  line-height: 1.5em;
  padding: 1.5em 0 2em;
}

.post-closure {
  margin-top: 1em;
}

body {
  font-family: $serif, serif;
  background-color: $background-color;
}

p {
  font-size: 20px;
  line-height: 1.5em;
}

.post-body {
  p {
    color: $text-color;
    margin: 0.9em 0;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }


  }
}

.aside-container {
  background-color: $dark-brown;
  z-index: 1;

  .aside-text {
    padding: 20px;
    color: $light-brown;
    font-family: $museo-sans-rounded;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }

    p {
      margin-top: 0.7em;
      font-size: 16px;
      font-weight: 100;
      line-height: 22px;
    }
  }
}

.break {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.showcase {
  .showcase-container {
    position: relative;

    .showcase-inset-container {
      position: absolute;
      color: #fff;
      padding: 10px;
      background: rgba(216, 203, 191, 0.690196);
      width: 400px;
      font-family: $museo-sans-rounded;
      top: 1.5em;
      left: 1.5em;

      h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4em;
      }
      p {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
        margin-bottom: 0.5em;
      }
    }
  }

  .bottom-right {
    position: relative;
    margin-top: -10em;
    z-index: 1;
  }

  .top-right {
    position: relative;
    margin-top: -50em;
    z-index: 1;
  }

}

.footer {
  height: 50px;

}

/* Large desktop */
@media (min-width: 1200px) {
  .post-title {
    font-size: 60px;
    line-height: 1.2em;
  }

  p {
    font-size: 24px;
  }

  p.post-intro {
    font-size: 28px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .post-header {
    background-attachment: scroll;
  }

  .post-title {
    font-size: 36px;
    line-height: 1.2em;
  }

  .post-intro, .post-body, .post-closure {
    max-width: 80%;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
  }

  p.post-intro {
    font-size: 22px;
  }

  .bottom-right {
    margin-top: 0 !important;
    display: block;
  }

  img.vertical-image, .aside-tasting {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }

  img.vertical-image {
    margin-top: 2em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .post-intro, .post-body, .post-closure {
    max-width: 90%;
    margin: 0 auto;
  }

  .showcase-inset-container {
    position: relative !important;
    margin: 0 auto !important;
    display: block !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }

  img.vertical-image, .aside-tasting {
    max-width: 80%;
  }

}
