<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div class="container">

      <header class="post-header">
        <div class="book-cover">
          <img src="{{ page.cover_img }}" alt="{{ page.cover_alt }}">
        </div>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="byline"><em>by</em> {{ page.book_author }}</p>
      </header>

      <div class="post-body">

        <div class="post-text">
          {{ content }}
        </div>

        <a class="button buy" href="{{ page.affiliate_link }}">
          Get the book
        </a>

        {% include comments.html %}
      </div>

      <footer></footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
