<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      {% stylesheet blog %}
      {% include tracking.html %}
  </head>
  <body>

  <div id="container">
    <article class="blog-post">

      <header>
        <div class="block">
          <img src="{{ page.image_url }}" alt="{{ page.image_alt }}">
        </div>
        <div class="image-credit"></div>
      </header>

      <section id="content">
        <div class="block">
          <section class="col3 start">
            <h1>{{ page.title }}</h1>
            <h2 class="lede">{{ page.lede }}</h2>
            <p class="metadata"><span>Written By:</span>
              {{ site.author }}
            </p>
            <p class="metadata"><span>Publish Date:</span>
              {{ page.date | date: "%B %d, %Y" }}
            </p>
            <p class="metadata"><span>Reading Time:</span>
              {{ content | reading_time | pluralize: "minute" }}
            </p>
          </section>
          <div class="col6">

            {{ content }}

          </div>
          <aside class="col3 end">
            <img class="avatar" src="{% asset_path jonathan-avatar.jpg %}" alt="Jonathan E. Chen">
            <h3>About Jonathan</h3>
            <p>Jonathan E. Chen is a product designer based in San Francisco. Things that pervade his daily consciousness include user-centered design, interactive storytelling, molecular gastronomy, and traveling the world. He has a computer science degree from Carnegie Mellon University and lives with an imaginary pet samoyed. Say hi to him on Twitter <a href="https://twitter.com/wikichen">@wikichen</a>.</p>
          </aside>
        </div>
      </section>

      {% include comments.html %}

    </article>
  </div>

  </body>
</html>
