<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- twitter card -->
    <meta name="twitter:card" content="gallery">
    <meta name="twitter:site" content="@wikichen">
    <meta name="twitter:creator" content="@wikichen">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image0" content="{{ site.cdn_url }}{{ page.image0 }}">
    <meta name="twitter:image1" content="{{ site.cdn_url }}{{ page.image1 }}">
    <meta name="twitter:image2" content="{{ site.cdn_url }}{{ page.image2 }}">
    <meta name="twitter:image3" content="{{ site.cdn_url }}{{ page.image3 }}">

    <title>{{ page.title }} | wikichen</title>

    {% stylesheet photo %}

    {% include tracking.html %}
  </head>
  <body>
    <div class="container">
      <header>
        <p class="metadata">{{ page.date | date: "%B %d, %Y" }}</p>
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
      {{ content }}
    </div>
  </body>
</html>
